# Build #
*.7z
*.bz2
*.dll
*.gz
*.pbd
*.rar
*.tar
*.wim
*.xz
*.zip
#.build/
.build/**/*.pex
.build/(old)/
.build/old/
.build/papyrus/
.build/release/
#build/
build/**/*.pex
build/(old)/
build/old/
build/papyrus/
build/release/
#dist/**/scripts/*.pex

# Custom #
*temp.*
*snippets.*
#*.swf

# Dependencies #

# Ideas #
#.idea/
.idea/(old)/
.idea/closed/
.idea/hidden/
.idea/ignore/
.idea/licensed/
.idea/old/
.idea/private/
.idea/secret/
#idea/
idea/(old)/
idea/closed/
idea/hidden/
idea/ignore/
idea/licensed/
idea/old/
idea/private/
idea/secret/

# Licensed #
#**/AIT/Aura/icons.swf
#**/AIT/GameIcons/icons.swf
#**/AIT/MoreIcons/icons.swf
#**/AlaxFoodExpansionIcons/AlaxFoodExpansionIcons.swf
#**/Dodo/powers.swf
#**/Dodo/skills.swf
#**/I4IconAddon/icons.swf
**/I4IconArclight/icons.swf
**/I4IconAstral/icons.swf
**/I4IconConstellation/icons.swf
**/I4IconDesecration/icons.swf
#**/I4IconLunaris/icons.swf
**/I4IconNecrom/icons.swf
**/I4IconStormcalling/icons.swf
#**/IAmNotSimon/*.swf
**/IAmNotSimon/Disease.swf
**/IAmNotSimon/Earth.swf
**/IAmNotSimon/RacialIcons.swf
**/IAmNotSimon/Sound.swf
**/IAmNotSimon/Space.swf
**/IAmNotSimon/StandingStone.swf
**/IAmNotSimon/Stars.swf
**/IAmNotSimon/Time.swf
**/IAmNotSimon/WitcherSigns.swf
**/IAmNotSimon/Wounds.swf
#**/JunkIt/icons.swf
#**/KIT/Alchemy.swf
#**/KIT/Armor.swf
#**/KIT/BoundEquipment-Overhaul.swf
#**/KIT/BoundEquipment-SkyUI.swf
#**/KIT/Food.swf
#**/KIT/Misc.swf
#**/KIT/Potions-Full.swf
#**/KIT/Powers.swf
#**/KIT/Spells.swf
#**/KIT/Staves.swf
#**/KIT/Weapons.swf
#**/JELFearsomeFistsImproved/icons.swf
#**/Magus/Gourmet/icons.swf
#**/Magus/Sorcerer/icons.swf
#**/MarkAsJunk/icons.swf
#**/MCE/icons.swf
#**/MissileSandwiches/icons.swf
#**/Muetzl/icons.swf
#**/SkyUI/icons_item_psychosteve.swf
#**/SkyUI_Weapons_Pack/icons.swf
#**/TailArmorIcons/TailArmorIcons.swf

# OS Files #
**/._.DS_Store
**/._.DS_Store*
**/.DS_Store
**/.DS_Store*
*.cab
*.DS_Store
*.DS_Store*
*.exe
*.lnk
*.msi
*.msix
*.msm
*.msp
*.stackdump
._*
._.DS_Store
._.DS_Store*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.directory
.DocumentRevisions-V100
.DS_Store
.DS_Store*
.fseventsd
.fuse_hidden*
.LSOverride
.nfs*
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
$RECYCLE.BIN/
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
Network Trash Folder
Temporary Items
Thumbs.db
Thumbs.db:encryptable
